h1 {
    font-family: 'Metamorphous', cursive;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: rgba(230, 666, 666, .888);
}

html {
    font-family: 'Libre Baskerville', serif;

}