h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: rgb(151, 209, 228);
}

html {
    font-family: 'Libre Baskerville', serif;

}