@import "partials/setup.scss";
@import "partials/typography.scss";
@import "partials/utils.scss";

html {
    background: url(https://cangeo-media-library.s3.amazonaws.com/s3fs-public/styles/web_article_slider_image/public/images/web_articles/article_images/4782/e006581135-pos.png?itok=nhfLWiKa) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 70%;
    background-color: rgba(151, 209, 228, 0.7);

}

fieldset {
    margin: 20px;
    padding: 10px;
    text-align: center;
    @include breakPoint(700) {
        font-size: 30px;
    }
}

input {
    padding: 7px;
    margin: 5px 10px 20px 10px;
}

.get-results {
    margin-left: 43%;
    color: $secondaryColorDarker;
}

.result-box {
    background-color: rgba(190, 213, 221, 0.1);
    text-align: center;
}