@import "partials/setup.scss";
@import "partials/typography.scss";
@import "partials/utils.scss";

body {
    background-color: darkseagreen;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 70%;
}