@import "partials/setup.scss";
@import "partials/typography.scss";
@import "partials/utils.scss";

html {
    background: url(https://cangeo-media-library.s3.amazonaws.com/s3fs-public/styles/web_article_slider_image/public/images/web_articles/article_images/4782/e006581135-pos.png?itok=nhfLWiKa) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 70%;
    background-color: rgba(151, 209, 228, 0.7);

}

fieldset {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

input {
    padding: 7px;
    margin: 5px 10px 20px 10px;
}

p:hover {
    font-weight: 800;
    transition: .1s ease;
}

.get-results {
    margin-left: 43%;
    color: $secondaryColorDarker;
}

.get-results:hover {
    font-weight: 800;
    padding: 12px;
    transition: .3s;
}

.result-box {
    background-color: rgba(190, 213, 221, 0.1);
    text-align: center;
    padding: 7px;
    margin: 27px;
}

@media(max-width: 835px) {
    .get-results {
        margin-left: 40%;
    }
}

@media(max-width: 750px) {

    h1 {
        font-size: 28px;
        color: rgba(230, 666, 666, .888);
    }

    fieldset {
        margin: 10px;
        padding: 5px;
        text-align: center;
    }

    .get-results {
        margin-left: 38%;
    }

    p {
        font-size: 14px;
    }
}

@media(max-width: 580px) {
    // Try to shrink the fieldsets themselves or the seperate div containers of each question?

    .get-results {
        margin-left: 37%;
    }

    p {
        font-size: 11.5px;
    }
}

@media(max-width: 480px) {

    h1 {
        font-size: 23px;
    }

    fieldset {
        margin: 5px;
    }

    .get-results {
        margin-left: 23%;
    }
}
